:root {
    --main-action-color: #1FC859;
    --naveka-bg-color: #0163AC;
    --footer-bg-color: #f7f7f7;
}

/* General */

.heading-purpose {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 20px;
}

.heading-purpose small {
    display: block;
    font-size: 48px;
    font-weight: bold;
    color: #174A9F;
    text-transform: uppercase;
}

@media (max-width: 576px) {
    .heading-purpose {
        font-size: 1.5rem;
    }
    .heading-purpose small {
        font-size: 1.5rem;
    }
}

.heading-section {
    font-size: 4rem;
}

@media (max-width: 576px) {
    .heading-section {
        font-size: 1.5rem;
    }
}


/* Navbar */
.bd-navbar {
    min-height: 4rem;
    background-color: #fff;
    -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
}
.nav-item {
    margin: 0 10px;
}
.nav-item a {
    color: #000;
}
a.active {
    font-weight: bold;
}
.main-action-button a {
    color: #fff;
    border-radius: 10px;
    background: var(--main-action-color);
}
.main-action-button a.active {
    background: none;
    color: #000;

}
/* Main section */

#home-area {
    color: #fff;
    background: -o-linear-gradient(153.34deg, rgba(146, 183, 246, 0.78) 0.06%, #0163AC 100%);
    background: linear-gradient(296.66deg, rgba(146, 183, 246, 0.78) 0.06%, #0163AC 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    position: relative;
    overflow: hidden;
    padding: 50px 0 80px;
}

.home-header {
    font-weight: bold;
    text-transform: uppercase;
}
.home-header small {
    font-weight: lighter;
}

.btn-home-buy {
    color: #fff;
    border-radius: 10px;
    background: var(--naveka-bg-color);
}
.btn-home-buy:hover {
    color: #fff;
    border: 1px solid #fff;
    background: var(--naveka-bg-color);
}

/* For Home section */

.for-home {
    height: 590px;
    background: url(../../assets/img/naveka-for-home.jpg) no-repeat;
    background-size: cover;
}

#homeTab .nav-item {
    background: #eaeaea;
    margin: 0 10px -1px 0;
    border-radius: 0.25rem 0.25rem 0 0;
}

#homeTab .nav-item a {
    color: #757575;
}

#homeTab .nav-link.active {
    color: #000;
    font-weight: normal;
}


@media (max-width: 900px) {
    .for-home {
        height: auto;
        background: #e4e3e1;
    }
    #homeTab .nav-item {
        background: #fff;
    }
    #homeTab .nav-link.active {
        border: none;
    }
}

/* For Professionals section */

.for-professionals {
    background: -webkit-gradient(linear, left top, left bottom, from(#327DD6), color-stop(99.99%, rgba(61, 133, 218, 0.558354)), to(rgba(255, 255, 255, 0.42)));
    background: -o-linear-gradient(top, #327DD6 0%, rgba(61, 133, 218, 0.558354) 99.99%, rgba(255, 255, 255, 0.42) 100%);
    background: linear-gradient(180deg, #327DD6 0%, rgba(61, 133, 218, 0.558354) 99.99%, rgba(255, 255, 255, 0.42) 100%);
}

.for-professionals p, .for-professionals h2 {
    color: #fff;
}

.for-professionals-advantages h3 {
    color: #fff;
    font-weight: bold;
}

.for-professionals-advantages small {
    display: block;
}

/* Service section */

.card {
    border: none;
    border-radius: 0;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

.tech-docs {
    background-color: var(--naveka-bg-color);
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: rgb(179, 179, 179) 0px 2px 2px 0px;
    box-shadow: rgb(179, 179, 179) 0px 2px 2px 0px;
    -webkit-transition: -webkit-box-shadow 0.1s ease-in-out 0s;
    transition: -webkit-box-shadow 0.1s ease-in-out 0s;
    -o-transition: box-shadow 0.1s ease-in-out 0s;
    transition: box-shadow 0.1s ease-in-out 0s;
    transition: box-shadow 0.1s ease-in-out 0s, -webkit-box-shadow 0.1s ease-in-out 0s;
    border-radius: 10px;
}

.tech-docs:hover {
    -webkit-box-shadow: rgb(179, 179, 179) 0px 3px 6px 0px;
    box-shadow: rgb(179, 179, 179) 0px 3px 6px 0px;
}

/* Buy Naveka section */

#buyNaveka {
    background: var(--footer-bg-color);
    border-top: 1px solid rgb(230, 230, 230);
    -webkit-transition: opacity 500ms ease-out 0.2s, -webkit-transform 500ms cubic-bezier(0, 0.9, 0.1, 1) 0.2s;
    transition: opacity 500ms ease-out 0.2s, -webkit-transform 500ms cubic-bezier(0, 0.9, 0.1, 1) 0.2s;
    -o-transition: opacity 500ms ease-out 0.2s, transform 500ms cubic-bezier(0, 0.9, 0.1, 1) 0.2s;
    transition: opacity 500ms ease-out 0.2s, transform 500ms cubic-bezier(0, 0.9, 0.1, 1) 0.2s;
    transition: opacity 500ms ease-out 0.2s, transform 500ms cubic-bezier(0, 0.9, 0.1, 1) 0.2s, -webkit-transform 500ms cubic-bezier(0, 0.9, 0.1, 1) 0.2s;
    -webkit-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px);
}

#buyNaveka h1 {
    color: var(--naveka-bg-color);
}

.place-to-buy {
    background: #fff;
    -webkit-box-shadow: rgb(179, 179, 179) 0px 2px 2px 0px;
    box-shadow: rgb(179, 179, 179) 0px 2px 2px 0px;
    -webkit-transition: -webkit-box-shadow 0.1s ease-in-out 0s;
    transition: -webkit-box-shadow 0.1s ease-in-out 0s;
    -o-transition: box-shadow 0.1s ease-in-out 0s;
    transition: box-shadow 0.1s ease-in-out 0s;
    transition: box-shadow 0.1s ease-in-out 0s, -webkit-box-shadow 0.1s ease-in-out 0s;
    border-radius: 10px;
}

.place-to-buy:hover {
    -webkit-box-shadow: rgb(179, 179, 179) 0px 3px 6px 0px;
    box-shadow: rgb(179, 179, 179) 0px 3px 6px 0px;
}

.place-to-buy-desc {
    color: rgb(128, 128, 128);
}

.dealers-link {
    color: #757575;
}

.dealers-link:hover {
    color: #000;
    text-decoration: underline;
}

/* Footer */

footer {
    color: #999;
    background: var(--footer-bg-color);
}

footer a {
    color: #999;
    text-decoration: underline;
}

footer a:hover {
    color: var(--naveka-bg-color);
}