:root {
    --main-action-color: #1FC859;
    --naveka-bg-color: #0163AC;
    --footer-bg-color: #f7f7f7;
}

/* General */

.heading-purpose {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 20px;
}

.heading-purpose small {
    display: block;
    font-size: 48px;
    font-weight: bold;
    color: #174A9F;
    text-transform: uppercase;
}

@media (max-width: 576px) {
    .heading-purpose {
        font-size: 1.5rem;
    }
    .heading-purpose small {
        font-size: 1.5rem;
    }
}

.heading-section {
    font-size: 4rem;
}

@media (max-width: 576px) {
    .heading-section {
        font-size: 1.5rem;
    }
}


/* Navbar */
.logo {height: 46px; }
.bd-navbar {
    min-height: 4rem;
    background-color: #fff;
    -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
}
.nav-item {
    margin: 0 10px;
}
.nav-item a {
    color: #000;
}
a.active {
    font-weight: bold;
}
.main-action-button a {
    color: #fff;
    border-radius: 10px;
    background: var(--main-action-color);
}
.main-action-button a.active {
    background: none;
    color: #000;

}
/* Main section */

#home-area {
    color: #fff;
    background: -o-linear-gradient(153.34deg, rgba(146, 183, 246, 0.78) 0.06%, #0163AC 100%);
    background: linear-gradient(296.66deg, rgba(146, 183, 246, 0.78) 0.06%, #0163AC 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    position: relative;
    overflow: hidden;
    padding: 50px 0 80px;
}

.home-header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 20px;
    
}
.home-header small {
    font-weight: lighter;
}

.btn-home-buy {
    color: #fff;
    border-radius: 10px;
    background: var(--naveka-bg-color);
}
.btn-home-buy:hover {
    color: #fff;
    border: 1px solid #fff;
    background: var(--naveka-bg-color);
}
.intro-img, .video-link {transition: transform .25s ease-out,-webkit-transform .25s ease-out;}
.intro-img:focus, .intro-img:hover, .video-link:focus, .video-link:hover {
	transform: scale(1.05);
}

/* For Home section */

.for-home {
    height: 590px;
    background: url(../../assets/img/naveka-for-home.jpg) no-repeat;
    background-size: cover;
}

#homeTab .nav-item {
    background: #eaeaea;
    margin: 0 10px -1px 0;
    border-radius: 0.25rem 0.25rem 0 0;
}

#homeTab .nav-item a {
    color: #757575;
}

#homeTab .nav-link.active {
    color: #000;
    font-weight: normal;
}

.list-advantages li {
    font-size: 20px;
    margin-bottom: 15px;
}

@media (max-width: 900px) {
    .for-home {
        height: auto;
        background: #e4e3e1;
    }
    #homeTab .nav-item {
        background: #fff;
    }
    #homeTab .nav-link.active {
        border: none;
    }
}

/* For Professionals section */

.for-professionals {
    background: -webkit-gradient(linear, left top, left bottom, from(#327DD6), color-stop(99.99%, rgba(61, 133, 218, 0.558354)), to(rgba(255, 255, 255, 0.42)));
    background: -o-linear-gradient(top, #327DD6 0%, rgba(61, 133, 218, 0.558354) 99.99%, rgba(255, 255, 255, 0.42) 100%);
    background: linear-gradient(180deg, #327DD6 0%, rgba(61, 133, 218, 0.558354) 99.99%, rgba(255, 255, 255, 0.42) 100%);
}

.for-professionals p, .for-professionals h2 {
    color: #fff;
}

.for-professionals-advantages h3 {
    color: #fff;
    font-weight: bold;
}

.for-professionals-advantages small {
    display: block;
}

/* Service section */

.card {
    border: none;
    border-radius: 0;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.4);
}

.tech-docs {
    background-color: var(--naveka-bg-color);
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: rgb(179, 179, 179) 0px 2px 2px 0px;
    box-shadow: rgb(179, 179, 179) 0px 2px 2px 0px;
    -webkit-transition: -webkit-box-shadow 0.1s ease-in-out 0s;
    transition: -webkit-box-shadow 0.1s ease-in-out 0s;
    -o-transition: box-shadow 0.1s ease-in-out 0s;
    transition: box-shadow 0.1s ease-in-out 0s;
    transition: box-shadow 0.1s ease-in-out 0s, -webkit-box-shadow 0.1s ease-in-out 0s;
    border-radius: 10px;
}

.tech-docs:hover {
    -webkit-box-shadow: rgb(179, 179, 179) 0px 3px 6px 0px;
    box-shadow: rgb(179, 179, 179) 0px 3px 6px 0px;
}
@media (max-width: 576px) {
    .tech-docs p {
        font-size: 1.5rem;
    }
}

/* Buy Naveka section */

#buyNaveka {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='700' preserveAspectRatio='none' viewBox='0 0 1920 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1098%26quot%3b)' fill='none'%3e%3crect width='1920' height='700' x='0' y='0' fill='rgba(247%2c 247%2c 247%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1105' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1105' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1105' x='1440' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1098'%3e%3crect width='1920' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1102'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1103'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1101'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1099'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1100'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1104'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1105'%3e%3cuse xlink:href='%23SvgjsPath1099' x='30' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='90' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='150' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='30' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='270' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='30' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='30' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='30' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='630' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='690' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='90' y='30' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='90' y='90' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='90' y='150' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='90' y='210' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='90' y='270' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='90' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='90' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='90' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='90' y='510' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='90' y='570' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='90' y='630' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='90' y='690' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='150' y='30' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='150' y='90' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='150' y='150' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='150' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='150' y='270' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='150' y='330' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='150' y='390' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='150' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='150' y='510' stroke='rgba(40%2c 167%2c 69%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='150' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='150' y='630' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='150' y='690' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='210' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='210' y='90' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='210' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='210' y='210' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='210' y='270' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='210' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='210' y='390' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='210' y='450' stroke='rgba(40%2c 167%2c 69%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='210' y='510' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='210' y='570' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='210' y='630' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='210' y='690' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='270' y='90' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='150' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='210' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='270' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='270' y='330' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='270' y='390' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='270' y='450' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='270' y='510' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='630' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='270' y='690' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='330' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='330' y='90' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='330' y='150' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='330' y='210' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='330' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='330' y='330' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='330' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='330' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='330' y='510' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='330' y='570' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='330' y='630' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='330' y='690' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='390' y='30' stroke='rgba(40%2c 167%2c 69%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='390' y='90' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='390' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='390' y='210' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='390' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='390' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='390' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='390' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='390' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='390' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='390' y='630' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='390' y='690' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='450' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='450' y='90' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='450' y='150' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='450' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='450' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='450' y='330' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='450' y='390' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='450' y='450' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='450' y='510' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='450' y='570' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='450' y='630' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='450' y='690' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='510' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='510' y='90' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='510' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='510' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='510' y='270' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='510' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='510' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='510' y='450' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='510' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='510' y='570' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='510' y='630' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='510' y='690' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='570' y='30' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='570' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='570' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='570' y='210' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='570' y='270' stroke='rgba(40%2c 167%2c 69%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='570' y='330' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='570' y='390' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='570' y='450' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='570' y='510' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='570' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='570' y='630' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='570' y='690' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='210' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='630' y='270' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='630' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='630' y='390' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='630' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='630' y='510' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='630' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='630' y='630' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='630' y='690' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='690' y='30' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='690' y='90' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='690' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='690' y='210' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='690' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='690' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='690' y='390' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='690' y='450' stroke='rgba(40%2c 167%2c 69%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='690' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='690' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='690' y='630' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='690' y='690' stroke='%231c538e'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
    border-top: 1px solid rgb(230, 230, 230);
    -webkit-transition: opacity 500ms ease-out 0.2s, -webkit-transform 500ms cubic-bezier(0, 0.9, 0.1, 1) 0.2s;
    transition: opacity 500ms ease-out 0.2s, -webkit-transform 500ms cubic-bezier(0, 0.9, 0.1, 1) 0.2s;
    -o-transition: opacity 500ms ease-out 0.2s, transform 500ms cubic-bezier(0, 0.9, 0.1, 1) 0.2s;
    transition: opacity 500ms ease-out 0.2s, transform 500ms cubic-bezier(0, 0.9, 0.1, 1) 0.2s;
    transition: opacity 500ms ease-out 0.2s, transform 500ms cubic-bezier(0, 0.9, 0.1, 1) 0.2s, -webkit-transform 500ms cubic-bezier(0, 0.9, 0.1, 1) 0.2s;
    -webkit-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px);
}

#buyNaveka h1 {
    color: var(--naveka-bg-color);
}

.place-to-buy {
    background: #fff;
    -webkit-box-shadow: rgb(179, 179, 179) 0px 2px 2px 0px;
    box-shadow: rgb(179, 179, 179) 0px 2px 2px 0px;
    -webkit-transition: -webkit-box-shadow 0.1s ease-in-out 0s;
    transition: -webkit-box-shadow 0.1s ease-in-out 0s;
    -o-transition: box-shadow 0.1s ease-in-out 0s;
    transition: box-shadow 0.1s ease-in-out 0s;
    transition: box-shadow 0.1s ease-in-out 0s, -webkit-box-shadow 0.1s ease-in-out 0s;
    border-radius: 10px;
}

.place-to-buy:hover {
    -webkit-box-shadow: rgb(179, 179, 179) 0px 3px 6px 0px;
    box-shadow: rgb(179, 179, 179) 0px 3px 6px 0px;
}

.place-to-buy-desc {
    color: rgb(128, 128, 128);
}

.dealers-link {
    color: #757575;
}

.dealers-link:hover {
    color: #000;
    text-decoration: underline;
}

/* Footer */

footer {
    color: #999;
    background: var(--footer-bg-color);
}

footer a {
    color: #999;
    text-decoration: underline;
}

footer a:hover {
    color: var(--naveka-bg-color);
}